<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="TemplateFileName" value="template.pptx"/>
    <add key="PraiseEntry" value="5"/>
    <add key="PraiseSlidesInsertPosition" value="6"/>
    <add key="PrayerNotice" value="7"/>
    <add key="BibleEntry" value="8"/>
    <add key="VideoBeforePreach" value="10"/>
    <add key="PreachEntry" value="11"/>
    <add key="AdBirthEntry" value="23"/>
    <add key="AdBirthList" value="24"/>
  </appSettings>
</configuration>