<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="SlideSize" value="0"/>
    <add key="OCREngine" value="0"/>
    <add key="ImgUriCreed" value="/Resources/cross01.jpg"/>
    <add key="ImgUriPray" value="/Resources/pray01.jpg"/>
    <add key="ImgUriLordsPrayer" value="/Resources/cross02.jpg"/>
    <add key="ImgUriAfterPraise" value="/Resources/cutImg01.png"/>
    <add key="ImgUriBeforeAd" value="/Resources/cutImg02.png"/>
    <add key="ImgUriAfterAd" value="/Resources/cutImg03.jpg"/>
  </appSettings>
</configuration>